body{
    background-color: whitesmoke;
    margin: 50px;
    border: 3px solid;
    display: flow-  root;
}
h1{
    text-shadow: 3px 2px 5px blue;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
    border-radius: 10px;
    color:black;
}
#p1{
    border-bottom: 3px solid red;
    color:orange;
}
#p2{
    color:green;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 50px;
}
#box1{
    background-color: hsl(350, 100%, 88%);

}
#box2{
    background-color: hsl(249, 80%, 67%);
}
.one1{
    border: 2px solid;
    height: 75px;
    overflow: auto;
}
#one{
    background-color: aqua;
}

#we1{
    background-color: hsl(0, 100%, 50%);
    width: 100px;
    height: 100px;
    display: block;
}
#we2{
    background-color: hsl(30, 59%, 53%);
    width: 100px;
    height: 100px;
    display: inline;
}
.container{
    background-color: aquamarine;
    height: 100vh;
}
.newbox1{
    background-color: beige;
    border: 2px solid; /* remove the border to make float works */
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    /*max-height: 50%;*/
    /*max-height: 50%;*/
}
#box12{
    width: 200px;
    height: 200px;
    background-color: bisque;
    position: fixed;
    top: -100px;
    left: -100px;
}
#box13{
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    position: relative;
    top: -100px;
    left: -100px;
}